<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory name="">
    <property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
    <property name="hibernate.c3p0.max_size">10</property>
    <property name="hibernate.c3p0.min_size">5</property>
    <property name="c3p0.acquire_increment">2</property>
    <property name="c3p0.idle_test_period">2000</property>
    <property name="c3p0.timeout">2000</property>
    <property name="c3p0.max_statements">10</property>

    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <!--<property name="hibernate.connection.password">root</property>-->
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/course_select</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">false</property>
    <mapping resource="com/course/selection/domain/ClassRoom.hbm.xml"/>
    <mapping resource="com/course/selection/domain/Course.hbm.xml"/>
    <mapping resource="com/course/selection/domain/Profile.hbm.xml"/>
    <mapping resource="com/course/selection/domain/Role.hbm.xml"/>
    <mapping resource="com/course/selection/domain/Student.hbm.xml"/>
    <mapping resource="com/course/selection/domain/Teacher.hbm.xml"/>
    <mapping resource="com/course/selection/domain/TimePoint.hbm.xml"/>
    <mapping resource="com/course/selection/domain/User.hbm.xml"/>
    <mapping resource="com/course/selection/domain/CourseState.hbm.xml"/>
  </session-factory>
</hibernate-configuration>